<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty scope="context" name="app.name" source="spring.application.name"/>
    <springProperty scope="context" name="logging.logstash.destination" source="logging.logstash.destination"/>
    <springProperty scope="context" name="logging.level.root" source="logging.level.root"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logging.logstash.destination:-10.1.80.221:4560}</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <customFields>{"app_name":"${app.name}"}</customFields>
        </encoder>
    </appender>
    <root level="${logging.level.root:-info}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>